{% extends 'base.html' %}
{% load user_filters %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1>Home</h1>
        {% if user.is_authenticated %}
            <p>User logged in: {{ user }}</p>
            <p><a href="{% url 'logout' %}" class="btn btn-outline-dark">Logout</a></p>

        {% else %}
            <p>You must login first.</p>
            <p><a href="{% url 'login' %}" class="btn btn-outline-dark">Login</a></p>
            <p><a href="{% url 'signup' %}" class="btn btn-outline-dark">Create a new Account</a></p>

        {% endif %}

    <h2>Apps Gallery </h2><div class="row justify-content-center">
    <ul class="no-bullet">
        <li><a href="{% url 'feedback:index' %}" class="btn btn-outline-dark">Give Feedback</a></li>

        {% if user|has_group:"topic_masters" %}
            <li><a href="{% url 'feedback:create_topic' %}" class="btn btn-outline-dark pt-4">Create Topic</a></li>
        {% endif %}

        {% if user.is_staff %}
            <li><a href="{% url 'feedback:results' %}" class="btn btn-outline-dark pt-4">Show Results</a></li>
        {% endif %}
    
    </ul>
</div>
{% endblock %}
