{% extends 'base.html' %}
{% load user_filters %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1>Feedback</h1>
        {% if user.is_authenticated %}
            <div class="row d-flex flex-column align-items-center w-20">
                <a href="{% url 'feedback:index' %}" class="btn btn-outline-dark my-2">Give Feedback</a>

                {% if user|has_group:"topic_masters" %}
                    <a href="{% url 'feedback:create_topic' %}" class="btn btn-outline-dark my-2">Create Topic</a>
                {% endif %}

                {% if user.is_staff %}
                    <a href="{% url 'feedback:results' %}" class="btn btn-outline-dark my-2">Show Results</a>
                {% endif %}
            </div>

        {% else %}
            <p>Please login in</p>
            <p class="my-0"><a href="{% url 'login' %}" class="btn btn-outline-dark">Login</a></p>
            <p class="my-0"><a href="{% url 'signup' %}" class="btn btn-outline-dark">Create a new Account</a></p>

        {% endif %}
{% endblock %}
