{% extends 'base.html' %}
{% load user_filters %}

{% block title %}Give Feedback{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>

<h1>Give Feedback</h1>

    <!-- <a href="{% url 'feedback:create_topic' %}">Create New Topic</a> -->

    {% if user.is_authenticated %}
        <!-- Use a custom template filter from "feedback/templatetags/user_filters" -->
        {% if user|has_group:"topic_masters" %}
            <a class="btn btn-outline-dark" href="{% url 'feedback:create_topic' %}">Create New Topic</a>
        {% endif %}
    {% endif %}

<form action="" method="post">
    {% csrf_token %}
    
    <table>
        {{ form.as_table }}
    </table>
    <div class="row justify-content-center pt-4">
    <input type="submit" value="Submit" class="btn btn-outline-dark btn-max-width w-25">
    </div>
</form>

<a href="/" class="btn btn-outline-dark">Back to Home</a>

{% endblock %}
