{% extends 'base.html' %}
{% load user_filters %}

{% block title %}Give Feedback{% endblock %}

{% block content %}
<h1>Give Feedback</h1>

    <!-- <a href="{% url 'feedback:create_topic' %}">Create New Topic</a> -->

    {% if user.is_authenticated %}
        <!-- Use a custom template filter from "feedback/templatetags/user_filters" -->
        {% if user|has_group:"topic_masters" %}
            <a href="{% url 'feedback:create_topic' %}" class="d-flex justify-content-center">Create New Topic</a>
        {% endif %}
    {% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div class="d-flex justify-content-center p-3">
    <input type="submit" value="Submit" class="btn btn-outline-dark"></div>
</form>
<div class="d-flex justify-content-center p-3">
<a href="/" class="btn btn-outline-dark" class="d-flex justify-content-center">Return to Account Home</a>
</div>
{% endblock %}
